body {
  margin: 0px;
  margin-right: -10px;;
  padding: 0px;
}
hr {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(146, 146, 146, 0.7);
  border-right-width: 25px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  } 
  to {
    transform: rotate(105deg) translateX(calc(100vh + 20px));
  }
}
.parent{
  width: 100%;
  position: relative;
  padding: 0px;
  margin: auto;
}
img{
  width: 100%;
  margin: 0px;
}
h1{
  position: absolute;
  top: 18%;
  left: 18%;
  font-family: 'Sacramento', cursive;
  font-size: 150px;
  margin: auto;
}
.glow-on-hover {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  transform: translate(0%, 0%);
  position: absolute;
  top: 15%;
  left: 30%;
  font-size: 10px;
  font-family: Poppins;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
